.firstLine {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
}

#orgName {
    color: grey;
}

li:hover {
    color: rgb(83, 27, 251);
}

.btnTalk {
    font-family: 'Poppins', sans-serif;
    border: 2px solid #263238;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    font-weight: 400;
    font-size: 24px;
    background-color: #FFFFFF;
}

.grey {
    font-family: 'Poppins', sans-serif;
    color: #8F95A5;
    padding: 20px;
    font-size: 24px;
    line-height: 36px;
}

ul {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    list-style-type: none;
    display: flex;
}

li {
    padding: 15px;
}

.girl,
.aim {
    width: 45%;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    margin: 0 px;
}

.adv {
    display: flex;
    justify-content: space-around;
    margin-left: 4%;
    margin-left: 4%;
}

.idea {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.lamp {
    height: 112px;
}

.btnStart,
.btnLearn {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: #263238;
}

.btnStart {
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    border-radius: 15px;
    padding: 10px 80px 10px 80px;
    margin-left: 15px;
}

.skills {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.btnLearn {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.pgrey {
    font-family: 'Poppins', sans-serif;
    color: #8F95A5;
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
}


a:visited {
    color: #eb892d;
}

div {
    margin: 20px;
}